<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="controller, service, DAO"/>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="JaneList" />
    </bean>

    <!--<bean id="entityManager"-->
          <!--class="org.springframework.orm.jpa.support.SharedEntityManagerBean">-->
        <!--<property name="entityManagerFactory" ref="entityManagerFactory" />-->
    <!--</bean>-->

    <!--<bean id="BaseDAOImpl" class="com.exadel.janelist.BaseDAOImpl" abstract="true">-->

    <!--</bean>-->

    <!--<bean id="testHibernateChildDao" class="com.exadel.janelist.BaseDAOImpl">-->
        <!--<constructor-arg>-->
            <!--<value>com.exadel.janelist.core.entity.Admin</value>-->
        <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="AdminDAOImpl" class="com.exadel.janelist.AdminDAOImpl">-->
        <!--<constructor-arg>-->
            <!--<value>com.exadel.janelist.core.entity.Admin</value>-->
        <!--</constructor-arg>-->
    <!--</bean>-->
</beans>