<div class="panel panel-info ">
    <div class="panel-heading text-center">
        <h3 class="panel-title">New field</h3>
    </div>
    <div class="panel-body">


        <h4>Name of the field</h4>
        <view data-id="defaultField" data-constructor="Views/Fields/Base"
              data-options="{name:'name', type:'text', className:'form-control'}"/>
        <h4>Can be changed by student</h4>
        <view data-id="change" data-constructor="Views/Fields/Radio"
              data-options="{buttons:[{label:'Yes', id:'yes'},{label:'No', id:'no'}],  name:'change'}"/>

        <h4>Type of the field</h4>

        <view data-id="fieldType" data-constructor="Views/Fields/Radio"
              data-options="{buttons:[{label:'Radio button', id:'radio'},{label:'Checkbox', id:'check'},{label:'Text', id:'text'}],  name:'fieldType'}"/>

        <div class="type-form radio-form">
            <h5>Enter id's of your radio buttons</h5>
            <view data-id="radioIds" data-constructor="Views/Fields/Base"
                  data-options="{name:'radioIds', type:'text', className:'form-control', placeHolderName:'Id1, Id2, Id3...'}"/>
            <h5>Enter names's of your radio buttons</h5>
            <view data-id="radioOptions" data-constructor="Views/Fields/Base"
                  data-options="{name:'radioOptions', type:'text', className:'form-control', placeHolderName:'Name1, Name2, Name3...'}"/>
            <h5>Enter default value of your radio buttons</h5>
            <view data-id="defaultValue1" data-constructor="Views/Fields/Base"
                  data-options="{name:'defaultValue', type:'text', className:'form-control', placeHolderName:'Default value (Name2)'}"/>

        </div>

        <div class='type-form text-form'>
            <h5>Enter default value of your text field</h5>
            <view data-id="defaultValue2" data-constructor="Views/Fields/Base"
                  data-options="{name:'defaultValue', type:'text', className:'form-control'}"/>
        </div>

        <div class="type-form check-form">
            <h5>Enter default value of your checkbox</h5>
            <view data-id="defaultValue3" data-constructor="Views/Fields/CheckBox"
                  data-options="{name:'defaultValue', type:'text', className:'form-control', yes:'yes', no:'no'}"/>
        </div>
        <button type="button" class="btn btn-primary submit-button">Create</button>
    </div>
</div>